[
  {appleverifier, [
    {aws_params, [
      {in_queue, "AppleReceiptsQueue"},
      {ddb_table, <<"AppleTransactionsStatus">>}
    ]},
    {apple_params, [
      {apple_api_url, "https://sandbox.itunes.apple.com"}
    ]},
    {aws_resources, [
      {sqs_url, "sqs.us-east-1.amazonaws.com"},
      {ddb_url, "dynamodb.us-east-1.amazonaws.com"}
    ]}
  ]},
  {erlcloud, [
    {aws_config, [
      {aws_access_key_id, "ACCESS_KEY_ID"},
      {aws_secret_access_key, "SECRET_ACCESS_KEY"},
      {aws_security_token, ""},
      {aws_region, "us-east-1"}
   ]}
  ]}
].
